.App {
    //Primary colors
    --desaturated-dark-cyan: hsl(180, 29%, 50%);
    --desaturated-dark-cyan-shadow: hsla(180, 29%, 50%, 0.2);

    //Neutral colors
    --light-grayish-cyan-background: hsl(180, 52%, 96%);
    --light-grayish-cyan-filter-tablets: hsl(180, 31%, 95%);
    --dark-grayish-cyan: hsl(180, 8%, 52%);
    --very-dark-grayish-cyan: hsl(180, 14%, 20%);

    --border-radius: 5px;

    background-color: var(--light-grayish-cyan-background);

    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;

    .header {
        background-color: var(--desaturated-dark-cyan);

        .desktop-header {
            display: block;
            width: 100%;
            height: 158px;
        }

        .mobile-header {
            display: none;
        }
    }

    @media screen and (max-width: 375px) {
        .header {
            .desktop-header {
                display: none;
            }

            .mobile-header {
                display: block;
            }
        }
    }
}
